*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body{
    font-family: Arial,Helveica,sans-serif;
    background:linear-gradient(
      180deg,
      rgb(107,46,228) 0%,
      rgb(73,30,223) 100%
    );
    display: flex;
    align-items: center;
    justify-content: center;
    min-height:100vh;
  }
  form{
    background-image:url(images/bg.png);
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 50px;
    width: 420px;
    text-align: center;
    box-shadow: 0 0 20px rgb(0, 0, 0);
    
  }
  form img{
    width:70px;
    margin-bottom: 25px;
  }
  .input-container{
    position: relative;
  }
  .input-container > i{
    padding: 14px;
    border-radius: 50%;
    background-color: #6D2FE3;
    color: #FCFEF7;
    position: absolute;
    font-size: 20px;
    top: 7px;
    right: 8px;
    
  }
  
  .input-container > input{
    padding: 20px 50px 20px 15px;
    width: 100%;
    margin-bottom: 25px;
    border-radius: 35px;
    background:transparent;
    border: 2px solid #C48AFB; 
    font-size: 16px;
    outline: none;
    color: #FCFEF7;
  }
  
  ::placeholder{
    color: #FFFEFF;
    font-size: 16px;
    
  }
  
  form a{
    display:block;
    color: #FCFEF7;
    font-size: 15px;
    text-decoration: none;
    margin-bottom: 25px;
  }
  .btn{
    background-color: #7D36FF;
    padding: 14px 35px;
    border: 0;
    box-shadow: 0 0 20px rgb(0, 0, 0);
    border-radius: 25px;
    color: #FCFEF7;
    cursor: pointer;
    font-size: 15px;
  
  }
  
  .success{
    position: absolute;
    top: 50px;
    color: #FCFEF7;
    font-size: 20px;
    
  }
  .error{
    position: absolute;
    top: 50px;
    color: #E02D00;
    font-size: 20px;
    
  }
  @media(max-width: 991px){
    body{
      padding: 30px;
    }
    form{
      width: 100%;
    }
  }